.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 85%;
  width: 60%;
}

.nav-bar a {
  background-color: grey;
  border-radius: 5px 5px 0px 0px;
  width: 20%;
  height: `100%;
}
