.experienceContainer {
  width: 100%;
  background-color: #4e5156;
  border-width: 20px;
  border-color: brown;
  margin: 0px;
}

.projectsMenu img {
  height: 95%;
  width: 95%;
  padding: 10%;
  cursor: pointer;
  border: 10px solid grey;
  box-sizing: border-box;
  margin: 0px;
}

.projectsMenu {
  margin: auto;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  background-color: black;
}

.projectPreview {
  height: 95%;
  width: 95%;
  order: 4;
  padding: 5%;
  color: green;
  box-sizing: border-box;
}
