.projectDetailContainer {
  display: grid;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  height: 95%;
  grid-template-columns: 1fr 1fr;
  background-color: grey;
}

.projectImages img {
  width: 80%;
  max-height: 31%;
}

.projectImages {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.projectLinks {
  display: flex;
  flex-direction: column;
}
