.rootBody {
  text-align: center;
  height: 100%;
  background-color: #4e5156;
}

.mainContent {
  height: 92%;
  width: 86%;
  margin: auto;
}
header {
  height: 8%;
  display: flex;
  justify-content: center;
}
